$color: #4a6e78;
$border: 1px solid lighten( $color, 50% );

.mn-accordion {
    .accordion-item {
        background-color: #ffffff;
        border-bottom: $border;
        .accordion-heading {
            position: relative;
            cursor: pointer;
            padding: 20px;
            .icon {
                color: $color;
                position: absolute;
                top: 50%;
                right: 2%;
                margin-top: -11px;
                i {
                    -webkit-transition: all 0.2s ease;
                    -o-transition: all 0.2s ease;
                    transition: all 0.2s ease;
                    border: solid $color;
                    border-width: 0 3px 3px 0;
                    display: inline-block;
                    padding: 3px;
                    &.right {
                        -webkit-transform: rotate(-45deg);
                        -ms-transform: rotate(-45deg);
                        -o-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                    }
                }
            }
            h3 {
                color: $color;
                margin: 0;
                font-weight: normal;
                font-size: 1.2em;
            }
        }
        .accordion-content {
            overflow: hidden;
            height: 0;
            color: #333;
            transition-property: all;
            transition-duration: 0.2s;
            transition-timing-function: ease;
            transition-delay: initial;
            p:first-child {
                margin-top: 0;
            }
            p:last-child {
                margin-bottom: 0;
            }
            > * {
                padding: 20px;
            }
        }
        &.state-open {
            .accordion-heading {
                border-bottom: $border;
                .icon {
                    i {
                        -webkit-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        -o-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }
}
